* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-bg: #FF6900;
    --footer-bg: #1A1A1A;
    --body-bg: #FFFFFF;
    --nav-color: #FFFFFF;
    --hearts-bg: #000000;
    --banner-price-bg: #FF0000;
    --banner-price-color: #FFFFFF;
    --banner-sost-bg: #008000;
    --text-cards-color: #000000;
    --price-cards-color: #FF0000;
    --footer-color: #FFFFFF;
}