* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

:root {
    --nav-bg: #FF6900;
    --footer-bg: #1A1A1A;
    --body-bg: #FFFFFF;
    --nav-color: #FFFFFF;
    --hearts-bg: #FFFFFF;
    --banner-price-bg: #FF0000;
    --banner-price-color: #FFFFFF;
    --banner-sost-bg: #008000;
    --text-cards-color: #000000;
    --price-cards-color: #FF0000;
    --footer-color: #FFFFFF;
}

/* inizio header */

header {
    background-color: var(--nav-bg);
    box-shadow: 0 0 8px #888888;
}

nav {
    padding: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

#logo img {
    max-width: 100%;
    height: 2rem;
}

.dFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}

#gender a {
    padding-right: 0.4rem;
    font-weight: 700;
    color: var(--nav-color);
}

#shop a {
    padding-left: 0.4rem;
    color: var(--nav-color);
}

/* fine header */

/* inizio main */

.clothes {
    margin: 3rem 0 -0.2rem;
    padding: 0 1rem;
    width: calc(100% / 3);
    min-width: 350px;
    position: relative;
}

.clothes img {
    max-width: 100%;
}

main .dFlex {
    justify-content: flex-start;
    align-content: flex-start;
}

main p {
    display: inline-block;
}

h4 {
    font-weight: 300;
    font-size: 0.8rem;
}

h3 {
    font-size: 0.9rem;
    font-style: bold;
}

.red-price {
    color: var(--price-cards-color);
    font-weight: 700;
}

.black-price {
    color: var(--text-cards-color);
    font-weight: 400;
    text-decoration: line-through;
}

.favorite {
    text-align: center;
    padding: 0.5rem 0.8rem;
    background-color: var(--hearts-bg);
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 0.6rem;
    font-size: 1.6rem;
}

.discounts,
.ecological,
.favorite {
    z-index: 2;
}

.discounts {
    text-align: center;
    background-color: var(--banner-price-bg);
    display: inline-block;
    position: absolute;
    left: 1rem;
    bottom: 6rem;
}

.ecological {
    text-align: center;
    background-color: var(--banner-sost-bg);
    display: inline-block;
    position: absolute;
    left: 3.9rem;
    bottom: 6rem;
}

.discounts,
.ecological {
    color: var(--banner-price-color);
    font-weight: 700;
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
}

.clothes:last-child .ecological {
    left: 1rem;
}

/* fine main */

/* inizio footer */

footer {
    background-color: var(--footer-bg);
    margin-top: 3rem;
    padding: 2rem 0;
}

#legal,
#social {
    color: var(--footer-color);
    padding: 0 1rem;
}

footer a {
    color: var(--nav-color);
}

#legal h2 {
    font-size: 1rem;
}

#social h2 {
    font-size: 0.8rem;
}

h2 {
    padding-bottom: 0.3rem;
}

#legal a {
    font-size: 0.8rem;
    font-weight: 300;
}

/* fine footer */

/* hover */

#shirt1,
#skirt1,
#pants1,
#tee1,
#dress1,
#dark-tee1 {
    position: absolute;
    top: 0;
    left: 1rem;
    width: 368px;
    height: 531.297px;
    display: none;
}

#shirt:hover #shirt1,
#skirt:hover #skirt1,
#pants:hover #pants1,
#tee:hover #tee1,
#dress:hover #dress1,
#dark-tee:hover #dark-tee1 {
    display: block;
    z-index: 1;
    cursor: pointer;
}

.favorite:hover {
    color: var(--price-cards-color);
    cursor: pointer;
}